.bild-grenze{
    background-size: cover;
    background-position: center;
    color: $color-primary-light;
    
    &--1{
        background-image: url(../img/backgrounds/bgbohreraufholz_smal.jpg) ;
            
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px){
            background-image: url(../img/backgrounds/bgbohreraufholz.jpg);
        }       
    }

    &--2{
        background-image: url(../img/backgrounds/bgwerkzeug_smal.jpg);
            
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px){
            background-image: url(../img/backgrounds/bgwerkzeug.jpg);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }

    &--3{
        
        background-image: url(../img/backgrounds/bgchaos_smal.jpg);  

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px){
            background-image: url(../img/backgrounds/bgchaos.jpg);
        }
    }
}