* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #373231; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f9f7f6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 30vh min-content 30vh min-content 30vh min-content; }

.container-impressum {
  display: grid;
  grid-template-rows: 80vh min-content 30vh; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center; }

.heading-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
  letter-spacing: .5px; }

.heading-2 {
  font-size: 4rem;
  text-transform: uppercase;
  border-bottom: 1px dashed currentColor; }

.heading-3 {
  font-size: 3rem; }

.heading-4 {
  font-size: 2rem; }

.heading-5 {
  font-size: 1.4rem; }

.paragraph {
  font-size: 1.5rem;
  padding-bottom: .5rem; }
  @media only screen and (max-width: 75em) {
    .paragraph {
      font-size: 2rem; } }

a {
  font-size: 1.5rem; }
  @media only screen and (max-width: 75em) {
    a {
      font-size: 2rem; } }

.btn {
  font-size: 1.6rem;
  color: #f9f7f6;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  background-color: #373231;
  padding: 1rem 1.5rem;
  border-radius: 3px; }
  .btn:hover, .btn:active {
    background-color: #797979; }

.highlight {
  font-size: 2rem;
  border-bottom: 1px solid #373231;
  text-transform: uppercase; }

.about {
  justify-self: center;
  width: 120rem;
  margin: 5rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, max-content);
  padding: 3rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 75em) {
    .about {
      width: 100vw;
      grid-template-columns: 1fr; } }
  .about h2 {
    align-self: center;
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .about__text {
    height: 100%;
    column-count: 3;
    column-gap: 3rem;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: currentColor;
    column-fill: balance; }
    @media only screen and (max-width: 75em) {
      .about__text {
        column-count: 2; } }
    @media only screen and (max-width: 50em) {
      .about__text {
        column-count: 1; } }
  .about__image {
    justify-self: center;
    width: 75%;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(55, 50, 49, 0.5); }
    @media only screen and (max-width: 75em) {
      .about__image {
        display: none; } }

.bild-grenze {
  background-size: cover;
  background-position: center;
  color: #f9f7f6; }
  .bild-grenze--1 {
    background-image: url(../img/backgrounds/bgbohreraufholz_smal.jpg); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px) {
      .bild-grenze--1 {
        background-image: url(../img/backgrounds/bgbohreraufholz.jpg); } }
  .bild-grenze--2 {
    background-image: url(../img/backgrounds/bgwerkzeug_smal.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px) {
      .bild-grenze--2 {
        background-image: url(../img/backgrounds/bgwerkzeug.jpg); } }
  .bild-grenze--3 {
    background-image: url(../img/backgrounds/bgchaos_smal.jpg); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px) {
      .bild-grenze--3 {
        background-image: url(../img/backgrounds/bgchaos.jpg); } }

.contact {
  justify-self: center;
  width: 120rem;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 36rem));
  grid-gap: 3rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .contact {
      width: 100vw; } }
  .contact h2 {
    justify-self: center; }
  .contact__info {
    text-align: center;
    align-self: center;
    justify-self: center; }

.dienstleistungen {
  justify-self: center;
  justify-content: center;
  width: 120rem;
  margin: 5rem 0;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 36rem));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  padding: 3rem;
  color: #373231; }
  @media only screen and (max-width: 75em) {
    .dienstleistungen {
      width: 100vw; } }
  .dienstleistungen__heading {
    grid-column: 1 / -1;
    justify-self: center;
    border-bottom: 1px dashed #373231; }

.footer {
  background-color: #373231; }
  .footer__content {
    margin: 3rem 10rem; }
  .footer__link:link, .footer__link:visited {
    color: #797979;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid currentColor;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    background-color: #373231;
    transform: translateX(1rem); }

.header {
  background-image: url(../img/backgrounds/bg_small.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f9f7f6; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 291dpi), (min-width: 1080px) {
    .header {
      background-image: url(../img/backgrounds/bg.jpg); } }

.nav {
  background-color: rgba(0, 0, 0, 0.5);
  grid-row: 1/2;
  align-self: start;
  grid-column: 1/2;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem; }
  @media only screen and (max-width: 87.5em) {
    .nav {
      grid-template-columns: min-content 1fr; } }
  @media only screen and (max-width: 50em) {
    .nav {
      grid-template-columns: 1fr; } }
  .nav__logo {
    margin-left: 5rem;
    height: 4rem;
    width: auto; }
    @media only screen and (max-width: 75em) {
      .nav__logo {
        margin-left: 0rem; } }
  .nav__list {
    list-style: none;
    display: none;
    align-items: center;
    justify-content: end;
    margin-right: 5rem;
    justify-content: space-evenly; }
    @media only screen and (max-width: 75em) {
      .nav__list {
        margin-right: 0rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        flex-direction: column; } }
  .nav__link:link, .nav__link:visited {
    margin-right: 2rem;
    font-size: 1.5rem;
    color: #f9f7f6;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.projects {
  justify-self: center;
  width: 120rem;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 36rem));
  grid-gap: 3rem;
  padding: 3rem;
  justify-content: space-evenly; }
  @media only screen and (max-width: 75em) {
    .projects {
      width: 100vw; } }
  .projects h2, .projects h4 {
    grid-column: 1 / -1;
    justify-self: center; }
  .projects h2 {
    border-bottom: 1px dashed #373231; }
  .projects__content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(55, 50, 49, 0.5);
    padding-bottom: 1rem;
    overflow: hidden; }
  .projects__img {
    width: 100%;
    border-radius: 5px;
    transition: all .4s; }
    .projects__img:hover {
      transform: scale(1.1); }
  .projects__details, .projects__title, .projects__date, .projects__link {
    padding-left: 1rem;
    padding-right: 1rem; }
  .projects__details {
    padding: 1.5rem 1rem; }
  .projects__link {
    align-self: baseline; }
    .projects__link:link, .projects__link:visited {
      color: #797979;
      display: inline-block;
      text-decoration: none;
      border-bottom: 0.1rem solid currentColor;
      transition: all .2s; }
    .projects__link:hover, .projects__link:active {
      background-color: #373231;
      transform: translateX(1rem); }

.impressum {
  width: 120rem;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 36rem));
  grid-gap: 3rem;
  justify-self: center;
  justify-content: center;
  font-size: 1.3rem; }
  @media only screen and (max-width: 75em) {
    .impressum {
      width: 100vw; } }
  .impressum p {
    margin-bottom: .5rem; }
